{:kotoba.app/id "cloud.itonami.isic-3319", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigoyhbaw3newjibz5f6vslii6epnmp5xw4kmsnstz3j62iviwlp64", :kotoba.app/embed-url "ipfs://bafkreigoyhbaw3newjibz5f6vslii6epnmp5xw4kmsnstz3j62iviwlp64", :published {:archive "https://kotobase.net/ipfs/bafkreigoyhbaw3newjibz5f6vslii6epnmp5xw4kmsnstz3j62iviwlp64", :size 72145, :put-status 201, :get-status 200, :at "2026-08-15T13:54:45.559Z"}}
